@model CalumGaleWeb.Models.Rsvp
@{
    ViewBag.Title = "RSVP";
}

<div class="background">
    @using (Html.BeginForm("Submitted", "CalumGale"))
    {
        <div>
            <div class="lable">
                Names: 
            </div>
            <div class="textbox">
                @Html.EditorFor(rsvp => rsvp.Names)
            </div>
            <div>
                @Html.ValidationMessageFor(rsvp => rsvp.Names)
            </div>
        </div>
        <div>
            <div class="lable">
                Email:
            </div>
            <div class="textbox">
                @Html.EditorFor(rsvp => rsvp.Email)
            </div>
            <div>
                @Html.ValidationMessageFor(rsvp => rsvp.Email)
            </div>
        </div>
        <div>
            @Html.EditorFor(rsvp => rsvp.Ireland) Attending the Irish Wedding.
        </div>
        <div>
            @Html.EditorFor(rsvp => rsvp.Australia) Attending the Australian Wedding.
        </div>
        <div>
            @Html.EditorFor(rsvp => rsvp.NotGoing) Respectfully decline.
        </div>
        <input type="submit" value="RSVP">     
    }
</div>
